*.la
*.lo
*.log
*.o
*.plist
*.so
*.trs
Makefile
Makefile.in
TAGS
aclocal.m4
ar-lib
autom4te.*
compile
compile_commands.json
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
missing
src/.deps/
src/.libs/
stamp-h1
test-driver
